:root {
    --color-primary: #FDDA0D;
    --color-primary-variant: #221F1F;
    --color-bg-1: #191919;
    --color-bg-2: #2C2C2C;
    --color-bg-3: #333333;
    --color-accent-1: #DD6BCD;
    --color-accent-2: #67DAFA;
    --color-accent-3: #FCE00A;
    --color-grey-1: #E9EBEC;
    --color-grey-2: #706F6F;
    --color-dark-1: #0E0E0E;
    --color-light: #EFEFEF;
    --color-light-variant: #A1B4C4;
}

body {
    background-color: var(--color-bg-1);
    color: var(--color-light);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--color-primary);
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    color: var(--color-light);
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid var(--color-grey-2);
    border-radius: 5px;
    margin-bottom: 20px;
    width: 300px;
}

button {
    background-color: var(--color-primary);
    color: var(--color-dark-1);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-primary-variant);
}

.result {
    text-align: center;
    margin-top: 20px;
    color: var(--color-accent-1);
}